<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for submitting your responses for <%= @survey_name %> for  <%= @team_name %>!</p>
    #if THD is viewable
      <p> You may view your THD here: </p>
    #else
      <p> Once your THD is ready we will send an email with a link to view </p>
  </body>
</html>