<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    Your responses for your <%= @survey_name %> for <b><%= @team_name %></b> have been received. A link to your results dashboard will be sent once the required number of responses has been submitted by your team members. NOTE: The initial survey requires a survey response from ALL team members. Subsequent survey results will be sent once 80% of team members have responded.
  </p>
  <p>
    Thanks for your participation. Healthy teams have more impact!</br>
    ExF Team Development
  </p>

</html>