<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
       Hi <%= @leader_name %>! A couple of months ago you created the team <b><%= @team_name %></b> for the Team Health Survey tool. At this time only xx number of your team have completed their final survey. To view your teams results in the dashboard you will need 100% of your team to submit their Final Survey.
    </p>
    <p>
    The survey can be completed <%= link_to("HERE", "https://docs.google.com/forms/d/e/1FAIpQLSf_6h69LoEf89HhiHOZv8qagw5DkToHl49lxRmATGDOCuidJQ/viewform")%>. Please encourage those group members that have not yet completed the survey to do so.
    </p>
<%= @survey_count %>
    <p>
    Thanks for your participation. Healthy teams have more impact!</br>
    ExF Team Development
    </p>
  </body>
</html>