<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
       Hi <%= @leader_name%>! A couple of months ago you created the team <b><%= @team_name %> for the Team Health Survey tool.</b>. At this time only xx number of your team have completed their initial survey. To view your teams results in the dashboard you will need 100% of your team to submit their Initial Survey.
    </p>
    <p>
    The survey can be completed here: xx. Please encourage those group members that have not yet completed the survey to do so.
    </p>

    <p>
    Thanks for your participation. Healthy teams have more impact!</br>
    ExF Team Development
    </p>
  </body>
</html>