<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thanks for creating your team name for the Team Health Dashboard tool! The team name you submitted is <b><%= @team_name %></b>. If this is incorrect in any way simply return to the team name submission form and resubmit the correct name. Please contact contact-us@extension.org so we are alerted to remove the incorrect team name.
    </p>
    <p>
      WHAT’S NEXT?</br>
      As your team’s primary point of contact, we ask that you copy and forward the following message to your team so they all have access to the survey.
    </p>
    <p>
      <%= @team_name %>!</br>

      Thank you for taking this step to stay in touch with the health of our team! Please go to the link below to complete the team health survey.</br>

      https://docs.google.com/forms/d/e/1FAIpQLSf_6h69LoEf89HhiHOZv8qagw5DkToHl49lxRmATGDOCuidJQ/viewform</br>

      Be sure to choose our team name from the drop down menu so all our data is recorded properly.</br>

      Our dashboard will be sent to all of us when we have 100% participation. It’s crucial we have everyone’s insights on how our team works together!</br>

      Thanks in advance for your participation!</br>

      All the best,
      (Your name)
    </p>
    <p>
    Thanks for your participation. Please contact us at leadership@extension.org with any questions or curiosities.</br>

    Healthy teams have more impact!</br>
    ExF Team Development
    </p>
  </body>
</html>