<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thank you for creating your team name for the Team Health Survey tool! The team name you submitted is <b><%= @team_name %></b>. If this is incorrect in any way simply return to the team name submission form and resubmit the correct name. Please contact marklocklear@extension.org so we are alerted to remove the incorrect team name.
    </p>
    <p>
    As your team’s primary point of contact, please forward the message below to your team. Please encourage 100% participation from your team so you have everyone’s valuable insights on how the team works together.
    </p>

    <p>
    Thanks for your participation. Healthy teams have more impact!</br>
    ExF Team Development
    </p>
  </body>
</html>