<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    It's that time! It's time for your team to begin submitting the second survey. Simply complete the <%= link_to("survey here", "https://docs.google.com/forms/d/e/1FAIpQLSf_6h69LoEf89HhiHOZv8qagw5DkToHl49lxRmATGDOCuidJQ/viewform")%>. Be sure to choose your team name (<b><%= @team_name %></b>) from the dropdown menu and "Second Survey".
    </p>
    <p>
      Thanks for your participation. Healthy teams have more impact!
    </p>
    <p>
      <%= link_to("ExF Team Development", "https://extension.org/leadership/")%>
    </p>
  </body>
</html>