body {
  --sizeX: 200px;
  --sizeY: 200px;
  --border: 14px;
}

.dashboard-dials {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 1em;
}
.dashboard-item {
  padding: 0 1em;
  max-width: 220px;
  // padding-bottom: 0;
}
.dashboard-item div {
  max-width: calc(var(--sizeX) + 20px);
}
.dashboard-item h2 {
  font-size: 1.5em;
  margin-top: 0;
}
.dashboard-item h3 {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.3em;
  z-index: 900;
  position: relative;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
}

.gauge-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: var(--sizeX) !important;
  height: var(--sizeY);
  border-radius: 50%;
  border: 1px solid #bbb;
  // margin-bottom: 40px;
}

.cutout {
  position: absolute;
  left: -5px;
  top:50%;
  width: calc(var(--sizeX) + 10px);
  height: calc(var(--sizeY)/2 + 10px);
  z-index: 200;
  background: #fff;
  // background: lime;
  // transform: translate(0,100%);
}

.center-dot {
  z-index: 500;
  left: 50%;
  top:50%;
  position: absolute;
  width: 16px;
  height: 16px;
  background: navy;
  border-radius: 50%;
  transform: translate3d(-50%,-50%,0);
}

.range-background {
  z-index: 5;
  left: 0;
  top:0;
  position: absolute;
  width: var(--sizeX);
  height: var(--sizeY);
  background: linear-gradient(to right, blue, cyan);
  background: linear-gradient(to right, white, cyan);
  border-radius: 50%;
  opacity: .5;
}

.range {
  z-index: 10;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  overflow: hidden;
  // border: 2px solid lime;
  border-radius: 50%;
  // background: linear-gradient(to right, teal, purple);
  background: transparent;
  // background: yellow;
}
.range-lower {
  // z-index: 10;
  width: var(--sizeX);
  height: var(--sizeY);
  background: rgba(255, 0, 255, .5);
  background: #fff;
  // background: orange;
  position: absolute;
  transform: rotate(var(--degrees)) translate(-50%,0);

}
.range-upper {
  // z-index: 10;
  width: var(--sizeX);
  height: var(--sizeY);
  background: rgba(255, 255, 0, .5);
  background: #fff;
  // background: coral;
  position: absolute;
  transform: rotate(var(--degrees)) translate(50%,0);

}

.legend-wrapper {position: relative; z-index: 500; display: flex;}
.legend {display: flex; align-items: center; margin-right: 30px;}
.legend span {
  display: block;
  background: navy;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.gauge2 {
  width: var(--sizeX);
  height: var(--sizeY);
  position: relative;
  background: #51F5F0;
  // background: linear-gradient(90deg, rgba(238,174,202,.5) 0%, rgba(148,187,233,.5) 100%);
  background: linear-gradient(to right, teal, purple);
  border-radius: 50%;
    overflow: hidden;

}

.gauge-indicator {
  height: 105px;
  width: 4px;
  transform: translate3d(-50%,-100%,0) rotate(var(--degrees));
  background: navy;
  opacity: .3;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 400;
  transform-origin: 50% 100%;
  transition: transform 0.5s;
}
.gauge-indicator.survey_0 {
  width: 5px;
}
.gauge-indicator.survey_0,
.survey_0 span {
  background: navy;
  opacity: 1;
}
.gauge-indicator.survey_1,
.survey_1 span {
  background: blue;
  opacity: .5;
}
.gauge-indicator.survey_2,
.survey_2 span {
  background: green;
  opacity: .5;
}
.gauge-indicator.survey_3,
.survey_3 span {
  background: magenta;
  opacity: .7;
}

.circle {
  z-index: 199;
  // width: 210px;
  width: calc(var(--sizeX) - (2 * var(--border)));
  // height: 210px;
  height: calc(var(--sizeX) - (2 * var(--border)));
  background: transparent;
  // background: linear-gradient(to right, red, purple);

  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: var(--border) solid rgba(200,200,200,.45);

}
.circle-inner {
  z-index: 200;
  // width: 210px;
  width: calc(var(--sizeX) - (2 * var(--border)));
  // height: 210px;
  height: calc(var(--sizeX) - (2 * var(--border)));
  background: transparent;
  background: #fff;

  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  // border: var(--border) solid rgba(200,200,200,.6);

}



.text-circle {
  width: var(--sizeX);
  // height: var(--sizeY)/2;
  position: relative;
  z-index: 900;
  font-size: 44pt;
  text-align: center;
  line-height: 1em;
  // border: 1px solid red;
  margin-top: -80px;
  font-family: 'Lato', sans-serif;
  color: #222;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid magenta;
}

sup {
  position: absolute;
  font-size: .8em;
  margin-top: -5px;
  margin-left: 5px;
}
.total-score {border: 2px solid #bbb; width: 240px; padding: 1em 1em 2em;
  // float:right;
}
.total-score h2 {text-align: center;}
.team-survey-totals {display: flex; column-gap: 20px;}
.average_scores th {width: 80px; text-align: center;}
