// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  // width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  // background-color: #f8f8f8;
  border: 1px solid #ddd;
  // padding: .35em;
}

table th,
table td {
  // padding: .75em 1.625em;
  // text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  // text-transform: uppercase;
  text-align: left;
  background: #ddd;
}

.table-header {text-align: center; font-size: 1.2em;}
.empty {background: #fff;}

.responses tr:nth-child(3n),
.responses tr:nth-child(3n-1),
.responses tr:nth-child(3n-2){
    background: #fff;
}

.responses tr:nth-child(6n),
.responses tr:nth-child(6n-1),
.responses tr:nth-child(6n-2){
    background: #eee;
}

.responses-scores {display: flex; gap: 20px;}
.scores {background: #e2fbff;}
.scores td {background: #e2fbff; font-size: 1.2em !important;}



// .average_scores {border-spacing: 0;}
.average_scores th {padding: .5em 1.5em;}
.average_scores td {padding: 0; margin: 0; }
.average_scores td span {background: #eee; display: inline-block; padding: 10px; width: 60px; text-align: center; background: #CAFDFE;}
.average_scores {
  // border-collapse: collapse;
}

.avg_score {text-align: center; }
.large {font-size: 1.2em;}
